<div class="container">
    <div class="bg-light  flex-wrap align-content-right ">

        <div *ngFor="let product of productList">
        <h3>{{product.name}}</h3>
        <ul >
            <li>{{product.id}}</li>
            <li>{{product.price}}</li>
            <li>{{product.quantity}}</li>
            <li>{{product.description}}</li>

        </ul>
        <button (click)="IdToUpdate(product.id)" class="btn btn-primary">Update</button>
    </div>
    </div>
</div>

<div class="container">
    <div class="bg-light  flex-wrap align-content-right ">
        <div class="form-group">
            <h2>Delete product</h2>
            <form>
                <label>Enter ID of Product to delete: </label>
                <input type="text"  class="form-control" placeholder="Enter product name:" [(ngModel)]="IdToDelete" name="IdToDelete">

            </form>
            <br>
            <button (click)="DeleteProd(IdToDelete)" class="btn btn-primary">Delete</button>
        </div>
    </div>
</div>